* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;

}
body, html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 95%;
    max-width: 1110px;
    margin: 0 auto;
}

.sec-title {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #262626;
}

@import './blocks/header';
@import './blocks/offer';
@import './blocks/about';
@import './blocks/greeting';
@import './blocks/price';
@import './blocks/programm';
@import './blocks/form';
@import './blocks/footer';
@import './blocks/modal';